<?xml version="1.0" encoding="UTF-8" ?>
<!--开发文档2.1.5节中可复制-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eagles.day32project.mapper.ProductMapper">

    <resultMap id="productVo" type="product">

        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="feature" property="feature"/>
        <result column="weight" property="weight"/>
        <result column="price" property="price"/>
        <result column="date" property="date"/>
        <result column="power" property="power"/>

        <association property="area" javaType="area">
            <id column="id" property="id"/>
            <result column="area_name" property="areaName"/>
        </association>

        <association property="business" javaType="business">
            <id column="bid" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="phone" property="phone"/>
            <result column="address" property="address"/>
        </association>

    </resultMap>

    <!--获取当前商家的所有商品与公开的商品-->
    <select id="getProductList" resultMap="productVo" parameterType="map">
        select * from tb_product tp
        left join tb_business tb on tp.bid = tb.id
        left join tb_area ta on tp.areaId = ta.id

        <where>
            <if test="bid != null">
                (power = 1 or bid = #{bid})
            </if>
            <if test="likeName != null">
                and product_name like '%${likeName}%'
            </if>
            <if test="upTimeStart != null and upTimeEnd != null">
                and date between #{upTimeStart} and #{upTimeEnd}
            </if>
            <if test="areaId != null">
                and ta.id = #{areaId}
            </if>
        </where>
        limit #{indexStart},#{pageSize}
    </select>

    <!--获取当前商家所生产的产品和其它商家指定公开的产品的总数目-->
    <select id="getCount" resultType="int" parameterType="map">
        select count(*) from tb_product tp
        left join tb_business tb on tp.bid = tb.id
        left join tb_area ta on tp.areaId = ta.id
        <where>
            <if test="bid != null">
                (power = 1 or bid = #{bid})
            </if>
            <if test="likeName != null">
                and product_name like '%${likeName}%'
            </if>
            <if test="upTimeStart != null and upTimeEnd != null">
                and date between #{upTimeStart} and #{upTimeEnd}
            </if>
            <if test="areaId != null">
                and ta.id = #{areaId}
            </if>
        </where>
    </select>

    <!--根据id查询指定商品-->
    <select id="getProductById" parameterType="int" resultMap="productVo">
        select * from tb_product tp
        left join tb_business tb on tp.bid = tb.id
        left join tb_area ta on tp.areaId = ta.id
        where tp.id = #{id}
    </select>

    <!--对商品进行更新-->
    <update id="updateProduct" parameterType="map">
        update tb_product set product_name = #{productName},
        feature = #{feature},areaId = #{areaId},
        weight = #{weight},price = #{price},bid = #{bid},
        power = #{power} where id = #{id}
    </update>

    <!--添加商品-->
    <insert id="insertProduct" parameterType="map">
        insert into tb_product(product_name, feature, areaId, weight, price, bid, date, power)
        VALUES (#{productName},#{feature},#{areaId},#{weight},#{price},#{bid},#{date},#{power})
    </insert>

    <!--删除商品-->
    <delete id="deleteProduct" parameterType="string">
        delete from tb_product where id in (${ids})
    </delete>

</mapper>