<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<script src="../vue/vue.js"></script>

<body>

<div id="box">

    <h2 v-for="(vs,index) in books">
        {{index}} :
        <span v-for="(value,key) in vs">
            {{key}} : {{value}}
        </span>
    </h2>

</div>
<script>
    let vue = new Vue({
        el: "#box",
        data: {
            type:"username",
            books:[
                {name:"红楼梦",price:280,count:3},
                {name:"西游记",price:300,count:2},
                {name:"水浒传",price:400,count:1},
                {name:"三国演义",price:350,count:5},
            ]
        }
    })
</script>
</body>
</html>